{% extends 'base.html' %}

{% block body %}

    <h1> Hello Django View  </h1>
<div >  
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    </div> 
    
    <div>
        <p>
            <h2> Name : {{ name }} </h2>
        </p>

        <p>
            <h2> Country  : {{ country }} </h2>
        </p>
    </div>



    <div>
        {% for num in list %}
        {% if num <= 3 %}

        <h{{ num }}>Life is cold; So Nice  for me  </h {{ num }}>

        {% else %}
        <h{{ num }}>Life is diffcult us  </h {{ num }}>

        {% endif  %}
        {% endfor  %}
       

    </div>
    
{% endblock %}